@using VendorOrder.Models;

@{
  Layout ="_Layout";
}

<div class="order_information">
  <h1>@Model["vendor"].Name</h1>

  <h2>@Model["order"].Title</h2>
  <h2>@Model["order"].Description</h2>
  <h2>@Model["order"].Price</h2>
  <h2>@Model["order"].Date</h2>
</div>

<div class="pages">
  <a href='/vendors/@Model["vendor"].Id'>@Model["vendor"].Name - Vendor's Page</a>
  <a href="/vendors">List of Vendors</a>
  <a href="/">Home Page</a>
</div>